{% extends 'layouts/base.html' %}
{% block title %} Material Kit 2 by Creative Tim {% endblock title %}

{% block body %} class="index-page bg-gray-200"
{% load crispy_forms_tags %}

<div class="index-page bg-gray-200">

    {% if request.method != "POST" %},

    <div class="row">
        <div method='post' class="col-md-6 offset-md-3">
            <h1>Stemmer</h1>
            <form method='post'>
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button type='sumbit' class='btn btn-danger btn-lg'>Özetle</button>
            </form>
        </div>
    </div>
    <br>
    {% else %}
    <br>
    <br>
    <br>
    <div class="index-page">
        <div method='post' class="col-md-6 offset-md-3">
            <h4>Kelimelerin Eklerden Kurtulmuş Halleri ( Stemmed )</h4>
            <label for="exampleFormControlTextarea3"></label>
            <textarea style='resize:none' readonly class="form-control" id="exampleFormControlTextarea3" rows="10">{{ predict|safe }}
        </textarea>
        </div>
    </div>


    {% endif %}

</div>
{% endblock body %}